*.bin filter=lfs diff=lfs merge=lfs -text
*.alignments filter=lfs diff=lfs merge=lfs -text
*.tokens filter=lfs diff=lfs merge=lfs -text
*.mya filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.my filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
1.langrank_predict/langrank/wiki_my_clean.txt filter=lfs diff=lfs merge=lfs -text
/mining_word_pairs/pairs/my-vi.tokens filter=lfs diff=lfs merge=lfs -text
/mining_word_pairs/pairs/wiki_my_ja_pairs.txt filter=lfs diff=lfs merge=lfs -text
/mining_word_pairs/pairs/wiki_my_vi_pairs_20k_intersection.alignments filter=lfs diff=lfs merge=lfs -text
/training/my-vi/20k/aligned_model__/checkpoint-5000/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
/training/my-vi/20k/aligned_model__/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
/ccwrs/mono_data/step2.data_cleaning/opus/fa-my/OpenSubtitles.fa-my.fa filter=lfs diff=lfs merge=lfs -text
/ccwrs/mono_data/step2.data_cleaning/opus/fa-my/OpenSubtitles.fa-my.my filter=lfs diff=lfs merge=lfs -text
/ccwrs/mono_data/step2.data_cleaning/opus/my-tr/OpenSubtitles.my-tr.my filter=lfs diff=lfs merge=lfs -text
/langrank_predict/langrank_data/subword-wiki.mya filter=lfs diff=lfs merge=lfs -text
/1.langrank_predict/langrank_data/subword-wiki.mya filter=lfs diff=lfs merge=lfs -text
/2.ccwrs/2.1.mono_data/step2.data_cleaning/opus/fa-my/OpenSubtitles.fa-my.fa filter=lfs diff=lfs merge=lfs -text
/2.ccwrs/2.1.mono_data/step2.data_cleaning/opus/fa-my/OpenSubtitles.fa-my.my filter=lfs diff=lfs merge=lfs -text
/2.ccwrs/2.1.mono_data/step2.data_cleaning/opus/my-tr/OpenSubtitles.my-tr.my filter=lfs diff=lfs merge=lfs -text
