/mining_word_pairs/pairs/my-vi.tokens filter=lfs diff=lfs merge=lfs -text
/mining_word_pairs/pairs/wiki_my_ja_pairs.txt filter=lfs diff=lfs merge=lfs -text
/mining_word_pairs/pairs/wiki_my_vi_pairs_20k_intersection.alignments filter=lfs diff=lfs merge=lfs -text
/training/my-vi/20k/aligned_model__/checkpoint-5000/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
/training/my-vi/20k/aligned_model__/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
